@{
    Layout = null;
    @ViewBag.Title = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <wrapper>
        <sideBar>
            <!-- Buttons to go back, settings, etc -->
            <sideButtons>

            </sideButtons>            
            <!-- Config for selected course/parent/child-->
            <config>

            </config>
            <!-- Display the courses -->
            <courseTree>
                
            </courseTree>
        </sideBar>
        <!-- Display the content of the course -->
        <courseView>

        </courseView>
        <!-- Maybe users/history/...? -->
        <extraBar>

        </extraBar>
    </wrapper>
</body>
</html>
